.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
}
.signin-input{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;

    font-size: 4vw;
}
.signin-input:focus{
    outline: none;
}

